# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
pulse

# Environment variables (CRITICAL: Never skip this)
.env

# Dependency directories
vendor/

# IDE specific files
.vscode/
.idea/
*.swp

out